@charset "utf-8";
/* font-family: 'Open Sans', sans-serif; font-family: 'Raleway', sans-serif; font-family: 'Montserrat', sans-serif; */

/* header */

#header{
	display:block;
	padding:6%;
	font-family: 'Open Sans';
	font-size:0.9em;
	width:88%;
	/*border-bottom:1px solid #aeaeae;*/
}
.menu{
	padding-top:15px;
}
.menuTxt{
	display:none;
}

.logo img{
	width:90%;
	height:auto;
}
.socialMedia{
	padding-top:15px;
	font-size:0.8em;
	text-align:right;
}

.sidenav a:hover {
  color: #fff;
}
/* USP */
.usp{
	
	padding-top:10px;

}
.redBand{
	width:80%;
	height:auto;
	padding-top:30px;
	padding-bottom:10px;
	padding-left:2%;
	padding-right:2%;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
	background-color:#fff;
	text-align:center;
}
.USPBlock{
	float:none;
	width:90%;
	background-color:#fff;
	margin-bottom:40px;
	margin-left:auto;
	margin-right:auto;
	
	/*background-color:#000;
	border-radius:20px;
	box-shadow:0px 0px 5px 0px #aeaeae;*/
}
.iconHolder{
	display:none;
}
.iconHolderMob{
	display:block;
	float:none;
	width:63px;
	height:63%;
	margin-left:auto;
	margin-right:auto;
}
.iconHolderMob img{
	width:70%;
	height:auto;
}
.iconTxt{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-top:12px;
	float:none;
	padding-left:0px;
	color:#000;
	
	
}
.boldHeading{
	color:#ea0303;
	font-family: 'Roboto Slab', serif;
	font-weight:100;
}
.runningTxt{
	color:#666;
}
.pdtHolderSlider{
	text-align:center;
	padding-top:5%;
	padding-left:8%;
	padding-right:8%;
	padding-bottom:5%;
}
.pdtHolderSlider h1{
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
	color:#1e1e1e;
}
.pdtHolderSlider p{
	font-family: 'Open Sans';
	font-size:0.9em;
	color:#666;
	padding-bottom:30px;
}

/* browse by category */
.catThumb{
	float:left;
	width:90%;
	padding:0.5%;
	margin-right:16px;
	margin-bottom:16px;
	margin-top:16px;
	padding-bottom:20px;
}
#catThumbHolder{
	text-align:center;
	padding-bottom:20px;
	padding-top:50px;
}

/* footer */
#footer{
	padding:10%;
	background-color:#333;
	font-family: 'Open Sans';
	font-size:0.7em;
	color:#fff;
	text-align:center;
}

/* insdie page css */
#insideBanner{
	padding-top:28%;
}
.whiteBlock{
	padding:30px;
	
}
/* celinete */
.logoHolder{
	display:inline-block;
	width:60%;
	padding:5%;
	margin:10px;
	border:1px solid #CCC;
	border-radius:20px;
}