@charset "utf-8";
/* font-family: 'Open Sans', sans-serif; font-family: 'Raleway', sans-serif; font-family: 'Montserrat', sans-serif; font-family: 'Roboto Slab', serif;*/

body{
	margin:0px;
	padding:0px;
}
.clear{
	clear:both;
}
h1, h2, h3, h4, h5, p{
	margin:0px;
}

.col_one_three{
	float:left;
	width:31.33%;
	padding:1%;
	/*background-color:#aeaeae;*/
}
.middleAlign{
	text-align:center;
}
.rightAlign{
	text-align:right;
}
.resrponsiveImgFull{
	width:100%;
	height:auto;
}

.rightPadding1{
	padding-right:10px;
	padding-left:40px;
}
/* header */
#header{
	padding-left:10%;
	padding-right:10%;
	padding-top:0.5%;
	padding-bottom:0.5%;
	font-family: 'Open Sans';
	font-size:1em;
	color:#000;
	width:80%;
	position:fixed;
	background:#fff;
	z-index:10;
	box-shadow:0px 2px 5px 0px #E5E5E5;
	border-bottom:1px solid #ededed;
	/*border-bottom:1px solid #aeaeae;*/
}
#header a{
	text-decoration:none;
	color:#000;
}
.menu{
	padding-top:30px;
	cursor:pointer
}

.menuTxt{
	padding-left:5px;
}

.logo img{
	width:45%;
	height:auto;
}
.socialMedia{
	
	padding-top:30px;
	font-size:0.9em;
	text-align:right;
}

/*sliding nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  font-family: 'Montserrat';
  font-size:1em;
  overflow-x: hidden;
  background-color:#000;
  transition: 0.5s;
  padding-top: 60px;
  border-right:1px solid #aeaeae;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size:1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fff;
}
.sidenav ul{
	display:none;
	list-style-type:none;
	color:#fff;
	padding-left:5px;
	padding-right:10px;
}
.sidenav ul li{
	margin:0px;
	padding:0px;
}
.sidenav ul li a{
	color: #818181;
}
.sidenav ul li a:hover{
	color:#fff;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.plusSign{
	font-weight:bold;
	font-size:1.1em;
	padding-left:20px;
}
.minusSign{
	display:none;
	font-weight:bold;
	font-size:1.1em;
	padding-left:20px;
}
/* USP */
.usp{
	padding-top:8px;
	background-image: url(../images/uspBG.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
.redBand{
	width:66%;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:2%;
	padding-right:2%;
	margin-left:auto;
	margin-right:auto;
	border-radius:80px;
	background-color:#ea0303;
}
.USPBlock{
	float:left;
	width:31.33%;
	padding:1%;
}
.iconHolder{
	float:left;
	width:63px;
	height:63%;
}
.iconHolderMob{
	display:none;
}
.iconTxt{
	width:70%;
	padding-top:12px;
	float:left;
	padding-left:20px;
	color:#fff;
	
}
.boldHeading{
	text-transform:uppercase;
	font-family: 'Raleway';
	font-size:1.1em;
}
.runningTxt{
	font-family: 'Open Sans';
	font-size:0.8em;
}

/*pdt holder slider */
.pdtHolderSlider{
	text-align:center;
	padding-top:5%;
	padding-left:10%;
	padding-right:10%;
	padding-bottom:5%;
}
.pdtHolderSlider h1{
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
	color:#1e1e1e;
	padding-bottom:10px;
	text-transform:capitalize;
}
.pdtHolderSlider p{
	font-family: 'Open Sans';
	font-size:1em;
	color:#666;
	padding-bottom:30px;
}

/* browse by category */
#pdtbyCategory{
	padding-left:10%;
	padding-right:10%;
	text-align:center;
}
#pdtbyCategory h1{
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
	color:#1e1e1e;
	padding-bottom:10px;
	text-transform:capitalize;
}
#pdtbyCategory p{
	font-family: 'Open Sans';
	font-size:1em;
	color:#666;
	padding-bottom:10px;
}
#catThumbHolder{
	text-align:center;
	padding-bottom:50px;
	padding-top:50px;
	
}
.catThumb{
	display:inline-block;
	width:20%;
	padding:0.8%;
	border:1px solid #E6E6E6;
	margin-right:16px;
	margin-bottom:20px;
	padding-bottom:50px;
	vertical-align:top;
}
.pdtThumb{
	width:80%;
	height:80%;
	margin-left:auto;
	margin-right:auto;
}
.catThumb h3{
	margin-top:8px;
	font-family: 'Roboto Slab', serif;
	color:#8d8d8d;
	padding-left:40px;
	padding-right:40px;
}
.catThumb a{
	text-decoration:none;
	color:#fff;
	
}

.stdBtn{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	font-family: 'Open Sans';
	font-size:0.8em;
	padding:8px;
	border-radius:16px;
	background-color:#000;
	color:#fff;
	text-align:center;
	transition:all 0.5s;
}
.stdBtn:hover{
	background-color:#fff;
	color:#000;
	box-shadow:0px 0px 10px 2px #e7e7e7;
	
}
/* footer */
#footer{
	padding-left:10%;
	padding-right:10%;
	padding-top:3%;
	padding-bottom:3%;
	background-color:#333;
	font-family: 'Open Sans';
	font-size:0.7em;
	color:#fff;
	text-align:center;
}


/* insdie page css */
#insideBanner{
	padding-top:9%;
	background-color:#e8e8e8;
}
#insideMatter{
	padding-left: 10%;
	padding-right: 10%;
	background-image: url(../images/insideMatterBg.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	padding-top:20px;
	text-align:center;
}
.whiteBlock{
	background-color:#fff;
	padding-top:50px;
	padding-bottom:50px;
	padding-left:200px;
	padding-right:200px;
	text-align:center;
}
.whiteBlock1{
	background-color:#fff;
	padding:50px;
	text-align:center;
}
#insideMatter h1, h3, h4. h5{
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
	color:#1e1e1e;
	padding-bottom:10px;

}
#insideMatter h4{
	color:#F00;
}
#insideMatter p{
	font-family: 'Open Sans';
	font-size:0.9em;
	color:#666;
	padding-bottom:10px;
	line-height:22px;
	margin-bottom:10px;
}
#insideMatter ul ol{
	list-style-type:none;
	margin:0px;
	padding:0px;
	text-align:center;
}
#insideMatter ol li{
	font-family: 'Open Sans';
	font-size:0.9em;
	color:#666;
	font-weight:bold;
}
#insideMatter ul li{
	cursor:pointer;
	font-family: 'Open Sans';
	font-size:0.9em;
	width:auto;
	display:inline-block;
	padding:15px;
	background:#000;
	color:#fff;
	border-radius:100px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	transition:all 0.5s;
}
#insideMatter ul li:hover{
	background-color:#fff;
	color:#000;
	box-shadow:0px 0px 10px 2px #e7e7e7;
}

/* celinete */
#clientLogoHolder{
	text-align:center;
}
.logoHolder{
	display:inline-block;
	width:18%;
	padding:1%;
	margin:10px;
	border:1px solid #CCC;
	border-radius:10px;
}